*
{
    position: relative;
}

header.info-juego
{
    background-image: url("imagenes/banner_inazuma.jpg");
    background-size: cover;
}

body
{
    background-color: rgb(81, 81, 154);
}

#flex-container
{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

#linea
{
    height: 10px;
    background-color: rgb(60, 60, 110);
    width: 100%;
}

main.info-juego
{
    background-color: rgb(68, 68, 128);
    width: 67.2%;
    padding: 50px;
    color: white;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto auto; 
    gap: 30px;
}

#info{
    grid-row: 1/2;
    grid-column: 1/2;
}

main section{
    grid-row: 2/3;
    grid-column: 1/2;

}

main section ol{
    list-style: none; 
    padding: 0; /* Elimina padding por defecto si lo tiene */
    display: flex; /* Añade Flexbox para que los <li> se pongan en línea */
    justify-content: space-around; /* Distribuye los elementos horizontalmente */
    gap: 20px; /* Espacio entre los elementos de la lista */
}

#video{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
}

aside.info-juego
{
    background-color: rgb(81, 81, 154);
    padding: 20px;
    width: 20%;
    color: white;
    text-align: center;
}

.plataformas {
    display: flex;
    flex-direction: column; 
    align-items: center; /* Centra los enlaces horizontalmente */
    gap: 15px; /* Espacio entre las imágenes */
    margin-top: 15px;
}

a img
{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 767px){
    header.info-juego{
        width: 100%;
        background-image: url("imagenes/banner_inazuma.jpg");
        background-size:cover;
    }

    header.info-juego img{
        width: 100px;
        height: auto;
    }

    #flex-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  auto auto auto auto auto;
        gap: 20px;
        padding: 0px;
    }

    aside.info-juego{
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 20px;
        text-align: center;
    }

    .plataformas{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;  
    }
    main{
        width: 100%;
    }

    main section ol {
        display: flex;
        flex-direction: row; /* Asegura que la dirección sea horizontal */
        flex-wrap: wrap; /* Permitimos que los elementos se envuelvan si no caben */
        justify-content: space-around; 
        gap: 10px; /* Reducimos el espacio un poco para móvil */
    }

    main section ol li {
        flex-basis: 45%; /* Cada elemento ocupa menos de la mitad, ideal para 2 columnas */
        text-align: center;
    }
}